---
Modified at: '{{ modified_at }}'
Latest lookup date: '{{  latest_lookup_date }}'
---
# {{ stem }}

>[!quote] {{ word }}

## Examples
{% for lookup in lookups %}
>[!quote] [[{{ lookup.book }}]] @ {{lookup.pos}}
> {{ lookup.usage }}
{% if lookup.date %}> @ {{lookup.date}}{% endif %}
{% endfor %}
